@import url(/assets/css/components/header.css);
@import url(/assets/css/components/footer.css);
@import url(/assets/css/components/fonts.css);

/*Variables*/
:root {
  /*Color variables*/
  --text: #ffffff;
  --background: #181c1c;
  --cianEletrico: #01f5d1;
  --backgroundDestaque: #000000;
  --verdePetronas: #00a19b;
  --prataSelenita: #c8ccce;
  --primaryGradient: linear-gradient(to right, #01f5d1, #00a19b);
  --secondaryGradient: linear-gradient(to right, #00a19b, #01f5d1);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;

  --font-title: "Space Grotesk", sans-serif;
  --font-text: "Inter", sans-serif;
}

/* Basic reset and layout */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-weight: 400l;
}

body {
  font-family: var(--font-text);
  color: var(--text);
  background-color: var(--background);
  line-height: 1.6;
}

a {
  text-decoration: none;
}

/*Tipography*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: clamp(4.2rem, 6vw, 7.2rem);
}

h2 {
  font-size: clamp(2.4rem, 5vw, 4.8rem);
}

h3 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.6rem);
}

h5 {
  font-size: clamp(0.8rem, 1vw, 1.4rem);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*Buttons*/

.btn-menu {
  font-family: var(--font-text);
  font-size: 1.6rem;
  padding: 10px 50px;
  color: var(--text);
  text-decoration: none;

  background-image: var(--primaryGradient);
  transition: all ease 0.5s;

  &:hover {
    transform: translateY(-2px);
    background-image: var(--secondaryGradient);
  }
}

.btn-primary,
.btn-secondary {
  font-family: var(--font-text);
  font-size: 1.6rem;
  padding: 10px 50px;

  text-decoration: none;
  font-weight: 600;

  transition: all 0.5s ease;
}

.btn-primary {
  background-image: var(--primaryGradient);
  color: var(--text);

  &:hover {
    transform: translateY(-2px);
    background-image: var(--secondaryGradient);
  }
}

.btn-secondary {
  background-color: var(--text);
  color: var(--background);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    color: var(--text);
    transform: translateY(-2px);
  }
}

/*Hero Section*/

.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("/assets/images/heroHome.png");
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(27, 27, 27, 0.8) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.hero-content {
  z-index: 1;
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  .heading span {
    background: var(--primaryGradient);
    -webkit-background-clip: text; /* Compatibilidade */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Torna o texto original transparente */
    color: transparent; /* Fallback */
    display: inline-block; /* Necessário para o gradiente funcionar corretamente */
  }

  .tag p {
    font-weight: 300;
    font-size: clamp(1.6rem, 2vw, 2rem);
  }

  .buttons {
    display: flex;
    gap: var(--spacing-md);
  }
}
