/*Hero especifica*/
.hero {
  background-image: url("/assets/images/heroApointment.jpg");
}

/*Form*/

.form {
  display: flex;
  gap: var(--spacing-2xl);
  padding: 60px 0;
  align-items: flex-start;
}

form {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2xl);
  background-color: var(--backgroundDestaque);

  label {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--cianEletrico);
    margin-bottom: var(--spacing-sm);
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
  .field {
    font-size: 1.4rem;
    margin-bottom: var(--spacing-xl);
    padding: 1.8rem 1.6rem;
    background-color: var(--background);
    border: 0;
    color: var(--text);

    &::placeholder {
      font-family: var(--font-text);
      font-size: 1.4rem;
      color: #cccccc;
      letter-spacing: 1.2px;
    }
  }

  textarea {
    width: 100%;
    height: 115px;
    resize: none;
  }

  .btn-form {
    font-family: var(--font-title);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: var(--spacing-lg);
    letter-spacing: 1.6px;
    padding: 20px 0;
    text-transform: uppercase;
    color: var(--text);
    background-color: var(--verdePetronas);
    cursor: pointer;
  }
}

/*Side area*/
/*--- Opening Hours ---*/
.side-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-2xl);
}

.times-work {
  width: 100%;
  background-color: var(--backgroundDestaque);
  padding: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  .times-title {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    font-family: var(--font-title);
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;

    img {
      width: 20px;
      height: auto;
    }
  }

  .times-content--box {
    display: flex;
    justify-content: space-between;

    .times-day,
    .times-hour {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #cccccc;
    }
  }
}

/*--- Map session ---*/
.map-box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.map-info {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;

  img {
    background-color: var(--verdePetronas);
    padding: 10px;
  }

  .map-info--title {
    font-family: var(--font-title);
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .map-info--text {
    font-size: 1.4rem;
    color: #cccccc;
  }
}

.map-container iframe {
  width: 100%;
  height: 280px;
}
